<!DOCTYPE html>
<html>
<head>
  <title>Spina admin conferences accounts</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "spina/admin/conferences/accounts/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
